* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightslategrey;
}

header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: lightcyan;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  background-color: lightcyan;
  padding: 15px;
  margin-top: 25px;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  gap: 5px;
  background-color: #fff;
  padding: 25px;
}
